h3 {
    color: green;
}

/* Comentario de Teste */
/* mais um comentario */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hexadecimal */

.hex {
    color: #55a398;
}

.hex-2 {
    color: #8d7206;
}

/* Aprofudando em Hexadecimal */
.simple-hex {
    color: #333;
}

/* RGB */

.rgb {
    color: rgb(0, 110, 255);
}

/* RGBa */

.rgba {
    color: rgba(144, 13, 88, 0.2);
}

/* Background-color */
.bg {
    background-color: #000;
    color: yellow;
}

/* Background opacity */
.bg-opacity {
    background-color: rgb(0, 255, 0);
    opacity: 0.5;
}

/* RGBa com opacidade */
.rgba-opacity {
    background-color: rgba(76, 150, 9, 0.2);
    color: #000;
}

/* Background com imagem */
.bg-image {
    background-image: url("../img/Quadro_da_natureza.jpg");
    padding: 10px;
    color: #fff;
}

/* Centralizando background com imagem */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../img/Quadro_da_natureza.jpg);
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e Altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

/* Padding */
.without-padding {
    background-color: blue;
    color: white;
}

.padding {
    background-color: green;
    color: white;
    padding: 20px;
}

/* Padding Individual */
.padding-individual {
    background-color: purple;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}

/* ShortHand Padding */
.shorthand-padding {
    background-color: orange;
    color: white;
    padding: 10px 20px 30px 40px;
}

.shorthand-padding-2 {
    background-color: pink;
    color: white;
    padding: 15px;
}

/* Padding com width */
.without-border-box {
    background-color: cyan;
    color: black;
    padding: 50px;
    width: 400px;
}

.border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}